/* @media (min-width: 450px) {
    .header__nav {
        display: flex;
        flex-direction: column;
    }

    .header__nav-ul {
        display: flex;
        justify-content: center;
    }

    .header__nav-ul-li {
        display: flex;
    }

    .header__nav-ul-li-p1,
    .header__nav-ul-li-p2,
    .header__nav-ul-li-p3,
    .header__nav-ul-li-p4 {
        font-size: 15px;
    }

    .header__nav-img {
        width: 180px;
        height: 55px;
    }

    .section__nav {
        display: flex;
        margin-top: 25px;
        background: url(./img/banner-zubi4.png)no-repeat;
        width: 430px;
        height: 260px;
        background-size: auto 100;
        border-radius: 30px;
        box-shadow: 0px 5px 20px 8px #0000001A;
    }

} */

/* @media (max-width: 800px) {

    .header_nav-ul-li-p1,
    .header_nav-ul-li-p2,
    .header_nav-ul-li-p3,
    .header_nav-ul-li-p4 {
        font-size: 22px;
    }

    .header__nav-img {
        width: 170px;
        height: 55px;
    }

}

@media (max-width: 700px) {

    .header_nav-ul-li-p1,
    .header_nav-ul-li-p2,
    .header_nav-ul-li-p3,
    .header_nav-ul-li-p4 {
        font-size: 15px;
    }


} */

@media (max-width: 1109px) {
    /* [class*='__container']{
        max-width: 800px;
    } */

    /* .header {
        display: flex;
        align-items: start;
        justify-content: start;

    } */

    /* .header__nav {
        display: flex;
        justify-content: start;
    } */

    /* .header__nav-img {
        max-width: 96px;
        max-height: 50px;

    } */
    /* 
    .header__nav-ul {
        display: flex;

    } */

    /* .header__nav-ul-li {
        display: flex;
        gap: 10px;

    } */

    /* .header__nav-ul-li {} */

    .header__nav-ul-li-p1,
    .header__nav-ul-li-p2,
    .header__nav-ul-li-p3,
    .header__nav-ul-li-p4 {
        font-size: 18px;

    }




    /* .section {
        display: flex;

    }

    .section__nav {
        display: flex;
        max-width: 400px;
        max-height: 265px;
    }

    .section__nav-img {
        display: flex;
        max-width: 400px;
        max-height: 265px;
    }

    .section__nav-box-first {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .section__nav-box-first-text {
        font-size: 12px;
        backdrop-filter: blur(12px);
        border-radius: 5px;
        position: absolute;
        top: 10px;

    }

    .section__nav-box-first-one {
        position: absolute;
        font-size: 12px;
    } */
}

@media (max-width: 970px) {


    .section__nav-box-first {
        top: 120px;
    }

    .section__nav-box-first p {
        font-size: clamp(18px, 1vw, 28px);
    }

    .section__nav-box-first-one p {
        font-size: clamp(15px, 1.5vw, 20px);
    }

    .info__nav {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        padding-left: 22px;
    }

    .info__nav-box1,
    .info__nav-box3,
    .info__nav-box5,
    .info__nav-box2,
    .info__nav-box6,
    .info__nav-box4 {
        /* display: grid;
        grid-column: repeat(2, 1fr); */
        max-width: 268px;
        min-height: 273px;
        top: 743.44px;
        left: 448px;
        opacity: 1;
        border-radius: 30px;
        background: #43AAFF;
        box-shadow: 0px 5px 20px 0px #0000001A;
    }

    .info__nav-box1-first {
        width: 200px;
    }

    .info__nav-box1-box {
        width: 200px;
    }

    .AboutUs__nav{
        max-width: 100%;
    }

    .AboutUs__nav{
        margin-left: 22px;
    }

    .contacts__nav{
        padding-left: 25px;
    }
}